body, html {
    margin: 0;
    padding: 0;
    background-color: #101010;
    font-family: 'made_evolve_medium', Arial, sans-serif;
}

@font-face {
  font-family: 'made_evolve_medium';
  src: url('made_evolve_medium.woff2') format('woff2'),
       url('made_evolve_medium.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'made_evolve_thin';
  src: url('made_evolve_thin.woff2') format('woff2'),
       url('made_evolve_thin.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

a:link, a:visited {
    text-decoration: none;
}

.topbar-container {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    background-color: #101010;
}

.topbar {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    padding-right: 2%;
    align-items: center;
}

.topbar-logo-cont {
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: flex-start;
    padding-left: 2%;
    align-items: center;
}


.topbar-text {
    padding-left: 10%;
    font-family: 'made_evolve_thin', Arial, sans-serif;
    font-size: 1vw;
    color: white;
}

.page-container {
    display: flex;
    width: 100%;
    height: 90%;
    flex-flow: column;
    align-items: center;
}

.page-not-centered {
    display: flex;
    width: 80%;
    height: 100%;
    flex-flow: column;
    align-items: flex-start;
}

.cont-right {
    width: 50%;
}

.main-header {
    color: white;
    font-size: 2vw;
}

.main-desc {
    color: white;
    overflow: hidden;
    font-size: 1.4vw;
    font-family: 'made_evolve_thin', Arial, sans-serif;
}

span {
    border-right: .1em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
    border-color: transparent;
  }
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (max-aspect-ratio: 4/3) {
    .main-header{
        font-size: 3vw;
    }
    .main-desc{
        font-size: 2vw;
    }
    .topbar-text {
        font-size: 1.5vw;
    }
    .proj-cont {
        flex-flow: column;
    }
}